.root {
  position: absolute;
  left: 6.9167%;
  right: 26.4167%;
  top: 30.5344%;
  bottom: -22.9008%;
  width: 400px;
  height: min-content;
  place-content: center;
  padding: 20px 280px;
  background-color: #fff;
}
._50HY_Logotype_SmallUse_RGB_Cop {
  width: 102px;
  height: 81px;
  background-image:/* webpackIgnore: true */ url('assets/_50HY_Logotype_SmallUse_RGB_Cop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
